 body {
     position: absolute;
     top: 0px;
     left: 0px;
     /* background-color: blue; */
     width: 100vw;
     height: 98.25vh;
     /* background-image: url(./res/background/backgroundNW.png);
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: top;
     margin: auto; */
     /* background-attachment: fixed; */
 }

 .page0 {
     display: flex;
 }

 .page1 {
     display: none;
 }

 #backBackgroundImg {
     height: 100%;
     width: 100%;
     max-width: 100%;
     max-height: 100%;
     overflow: hidden;
     position: center;
     display: block;
     margin: auto;
     z-index: -1;
 }

 /****************/

 #indexContainer {
     /* background-color: red; */
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 100%;
     margin: auto;
     display: flex;
     flex-direction: column;
     align-items: stretch;
     z-index: 0;
 }

 .backblock {
     width: 100%;
     height: 100%;
     z-index: 1;
     /* background-color: green; */
 }

 #top, #bottom {
     height: 25%;
     display: flex;
     flex-direction: row;
     align-items: stretch;
 }

 #middle {
     display: flex;
     flex-direction: row;
     align-items: stretch;
 }

 /****************/

 .topblock {
     width: 100%;
     height: 100%;
     z-index: 2;
 }

 #top_left, #top_right {
     width: 30%;
     display: flex;
     flex-direction: row;
     align-content: stretch;
     flex-wrap: wrap;
 }

 /****************/

 .top_left_sup {
     width: 33.33%;
     height: 33.33%;
     z-index: 3
 }

 #top_left_btn {
     height: 100%;
     width: 100%;
     z-index: 4;
 }

 #top_left_btn_img {
     height: 100%;
     max-width: 100%;
     max-height: 100%;
     overflow: hidden;
     position: center;
     display: block;
     margin: auto;
 }

 /****************/

 .top_right_sup {
     height: 33.33%;
     z-index: 3;
 }

 .top_right_sup_left {
     width: 33.3%;
 }

 .top_right_sup_middle {
     width: 53.33%;
 }

 .top_right_sup_right {
     width: 13.33%;
 }

 #top_right_btn_0, #top_right_btn_1 {
     height: 100%;
     width: 100%;
     z-index: 4;
 }

 #top_right_btn_0_img, #top_right_btn_1_img {
     height: 100%;
     max-width: 100%;
     max-height: 100%;
     overflow: hidden;
     position: center;
     display: block;
     margin: auto;
 }

 /****************/

 .middleblock {
     width: 100%;
     height: 100%;
     z-index: 2;
 }

 #middle_sidebar_left, #middle_sidebar_right {
     width: 12.5%;
     height: 100%;
     /* max-width: 20%; */
     /* max-height: 100%; */
     overflow: hidden;
     position: center;
     display: block;
     margin: auto;
 }

 #middle_center {
     width: 75%;
     height: 100%;
     /* max-width: 60%; */
     /* max-height: 100%; */
     overflow: hidden;
     position: center;
     display: flex;
     flex-direction: row;
     align-content: stretch;
     flex-wrap: wrap;
     margin: auto;
 }

 #middle_center_left {
     height: 100%;
     width: 60%;
     overflow: hidden;
     position: center;
     display: flex;
     flex-direction: row;
     align-content: stretch;
     flex-wrap: wrap;
 }

 #middle_center_right {
     height: 100%;
     width: 40%;
     overflow: hidden;
     position: center;
     display: flex;
     flex-direction: row;
     align-content: stretch;
     flex-wrap: wrap;
 }

 /****************/

 .middle_center_right_sup, .middle_center_left_sup {
     width: 100%;
     height: 15%;
     z-index: 3;
 }

 #middle_center_right_main {
     width: 100%;
     height: 85%;
     overflow: hidden;
     position: center;
     display: flex;
     flex-direction: column;
     align-content: stretch;
     flex-wrap: wrap;
 }

 #middle_center_right_canvas {
     position: relative;
     width: 100%;
     height: 100%;
 }

 #middle_center_left_main {
     width: 100%;
     height: 70%;
     overflow: hidden;
     position: center;
     display: flex;
     flex-direction: column;
     align-content: stretch;
     flex-wrap: wrap;
 }

 /****************/

 #topicTitle {
     width: 100%;
     height: 57.5%;
     max-width: 100%;
     max-height: 57.5%;
     overflow: hidden;
     position: center;
     display: block;
     margin: auto;
 }

 #underTopicTitle {
     width: 100%;
     height: 42.5%;
     max-width: 100%;
     max-height: 42.5%;
     overflow: hidden;
     position: center;
     display: flex;
     flex-direction: column;
     align-content: stretch;
     flex-wrap: wrap;
     margin: auto;
 }

 /****************/

 .changeFoodColor_sup {
     width: 100%;
     height: 30%;
 }

 #changeFoodColor_sup_middle {
     height: 40%;
     overflow: hidden;
     position: center;
     display: flex;
     flex-direction: row;
     align-content: stretch;
     flex-wrap: wrap;
     margin: auto;
 }

 .changeFoodColor_btn_sup {
     width: 40%;
     height: 100%;
 }

 #changeFoodColor_btn {
     width: 60%;
     height: 100%;
     max-width: 60%;
     max-height: 100%;
     overflow: hidden;
     position: center;
     display: block;
     margin: auto;
 }

 #changeFoodColor_btn_img {
     width: 100%;
     height: 100%;
     max-width: 100%;
     max-height: 100%;
     overflow: hidden;
     position: center;
     display: block;
     margin: auto;
 }

 /****************/

 /********************************
FOLLOWING ARE PAGE1 !!!!!!!!!!!!!!!!
 ********************************/

 #middle_menu_center {
     width: 100%;
     height: 100%;
     z-index: 2;
     overflow: hidden;
     position: center;
     flex-direction: row;
     align-content: stretch;
     flex-wrap: wrap;
     margin: auto;
 }

 .middle_menu_sidebar {
     width: 0%;
     height: 100%;
     z-index: 2;
     overflow: hidden;
     position: center;
     flex-direction: row;
     align-content: stretch;
     flex-wrap: wrap;
     margin: auto;
 }

 .menu {
     width: 20%;
     height: 100%;
     z-index: 2;
     display: flex;
     overflow: hidden;
     position: center;
     flex-direction: column;
     align-content: stretch;
     flex-wrap: wrap;
     margin: auto;
 }

 .menuInsup {
     width: 100%;
     height: 10%;
     z-index: 3;
     display: flex;
     overflow: hidden;
     position: center;
     flex-direction: row;
     align-content: stretch;
     flex-wrap: wrap;
     margin: auto;
 }

 .displayS {
     width: 100%;
     height: 70%;
     z-index: 3;
     display: flex;
     overflow: hidden;
     position: center;
     flex-direction: row;
     align-content: stretch;
     flex-wrap: wrap;
     margin: auto;
 }

 .showPrice, .addToCartBtn {
     width: 100%;
     height: 10%;
     z-index: 3;
     display: flex;
     overflow: hidden;
     position: center;
     flex-direction: row;
     align-content: stretch;
     flex-wrap: wrap;
     margin: auto;
 }

 .displayImg, .showPriceImg, .addToCartBtnImg {
     width: 100%;
     height: 100%;
     max-width: 100%;
     max-height: 100%;
     overflow: hidden;
     position: center;
     display: block;
     margin: auto;
 }